@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  /* For Chrome, Safari, and Opera */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
body {
  background-image: url('/bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
